button{
    margin-left: 80px;
    background-color: whitesmoke;
    border-color: whitesmoke;
    width: 150;
    height: 30;
}  
button:hover{
    margin-left: 80px;
    background-color: rgb(160, 212, 229);
    border-color: rgb(141, 209, 232);
}
a{
    margin-left: 80px;
    font-size: 15px;
}
label{
    margin-left: 80px;
    font-size: smaller;
    color: black;
}
body{
    background-color: lightcyan;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 150;
    height: 30;
    margin-left: 80px;
}
input::placeholder{
    height: 25;
}
form{
    margin-top: 90px;
    margin-left: 100px;
}