.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.join {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.create-btn {
    width: 100%;
}
button{
    background-color: whitesmoke;
    border-color: whitesmoke;
}
button:hover{
    background-color: rgb(160, 212, 229);
    border-color: rgb(141, 209, 232);
}
label{
    font-size: smaller;
    color: gray;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    font-size: 15px;
}
body{
    background-color: lightcyan;
}