<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/doc.css">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <title>doc</title>
  </head>
  <body>
    <section>
      <header><b>Hier zijn een paar vaak gestelden vragen.</b></header>
      <p>Als je een nieuwe vraag wilt toevoegen kan je een isuse open op het <a href="https://github.com/Rafaelorr/flask_chat_app">github repo</a>.</p>
    </section>
    <footer>
      <section>
        <p>Wat gebeurt als alle persoon een room verlaten ?<br>
        Een room wordt verwijdert als er geen personen in zijn.</p>
      </section>
      <section>
        <p>Worden mijn berichten bijgehouden ?<br>
        Nee, niet in logs of een database enkel in het geheugen van de server.</p>
      </section>
      <section>
        <p>Kan ik de code van de chat app bekijken ? <br>
        Ja, de code is open source en staat op github op deze <a href="https://github.com/Rafaelorr/flask_chat_app">url</a>.</p>
      </section>
      <section>
        <p>Wie kan een room joinen ?<br>
        iedereen die de room id kent kan de room joinen.</p>
      </section>
    </footer>
  </body>
</html>