<html>
  <head>
      <title>maak een acount</title>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="static/css/create_acount.css">
  </head>
  <body>
      <form action="http://192.168.76.202:5000/create_acount" method="post">
        <input type="text" name="gebruikersnaam" id="gebruikersnaam" required placeholder="gebruikersnaam">
        <input type="password" name="wachtwoord" id="wachtwoord" placeholder="wachtwoord" required placeholder="wachtwoord">
        <button type="submit">maak acount</button>
      </form>
  </body>
</html>