<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/doc.css">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <title>doc</title>
  </head>
  <body>
    <header><b>Lorem ipsum dolor sit amet consectetur adipisicing elit.</b></header>
    <p>Lorem ipsum dolor sit amet. <br>
      consectetur adipisicing elit. <br>
      Sed vero libero sint nobis architecto at consectetur quae dignissimos quos minus obcaecati. <br>
      assumenda laboriosam ex aut. <br> 
      Aperiam eligendi possimus similique vel?</p>
    <footer>
      <p>Wat gebeurt als alle persoon een room verlaten ?<br>
      Een room wordt verwijdert als er geen personen in zijn.</p>
      <p><br>
      </p>
    </footer>
  </body>
</html>